.sidebar-admin {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1; 
    /* background-color:;  */
    font-size: max(1vw, 10px);
}

.sidebar-admin-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-admin-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    text-decoration: none;
    color: inherit; 
}

.sidebar-admin-option img {
    width: 40px;
    height: 40px;
}

.sidebar-admin-option.active {
    background-color: #edeeff;
    border-color: rgb(104, 106, 108);
}

@media(max-width:900px) {
    .sidebar-admin-option p {
        display: none;
    }
}
