.carousel-title__fz-14 {
	font-size: 14px;
	font-weight: 400;
	color: #979797;
	line-height: 20px;
}

.carousel-title__fz-16 {
	font-size: 22px;
	font-weight: 600;
}

.carousel-food-item-name-rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	gap: 10px;
}

.carousel-food-item-infos {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.carousel-food-item-description {
	color: #676767;
	text-align: center;
}

.carousel-food-item-img-container {
	position: relative;
}

.carousel-food-item-img-container .add-icon {
	width: 35px;
	position: absolute;
	bottom: 25px;
	right: 15px;
	cursor: pointer;
	border-radius: 50%;
	background-color: rgb(252, 252, 252);
}

.carousel-food-item-counter {
	position: absolute;
	bottom: 25px;
	right: 15px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 6px;
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
}

.carousel-food-item-counter img {
	width: 30px;
}

/* картинка карточки */
.carousel-food-img {
	width: 310px;
	height: 360px;
	border-radius: 30px;
	object-fit: cover;
	margin-bottom: 10px;
}

/* карточка */
.carousel-food-item {
	background-color: #fafafa;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-food-item:hover {
	transform: scale(1.05);
}

.carousel-food-item-price {
	font-size: 20px;
	color: #888;
	margin-top: 5px;
}

.carousel-title__fz-14 {
	font-size: 14px;
	color: #666;
}

.carousel-food-item-price,
.carousel-food-item-rate {
	margin: 5px 0;
	font-weight: bold;
	color: #333;
}


@media (max-width: 1200px) {
	.carousel-food-img {
		width: 280px; 
		height: 320px; 
	}
	
	.carousel-food-item-price {
		font-size: 18px; 
	}
}

@media (max-width: 900px) {
	.carousel-food-img {
		width: 250px; 
		height: 290px; 
	}
	
	.carousel-food-item {
		padding: 10px; 
	}
	
	.carousel-food-item-price {
		font-size: 16px; 
	}
	
	.carousel-title__fz-16 {
		font-size: 18px; 
	}
}

@media (max-width: 750px) {
	.carousel-food-img {
		width: 200px; 
		height: 240px; 
	}
	
	.carousel-food-item {
		padding: 8px;
	}
	
	.carousel-food-item-price {
		font-size: 14px; 
	}
	
	.carousel-title__fz-16 {
		font-size: 16px; 
	}
	
	.carousel-title__fz-14 {
		font-size: 12px; 
	}
	
	.carousel-food-item-name-rating {
		margin-bottom: 8px; 
		gap: 8px; 
	}
	
	.carousel-food-item-description {
		font-size: 12px; 
	}
}