.add {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.add-img-upload {
  align-items: center;
  margin:15px;
}

.add-img-upload img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.add-img-upload img:hover {
  transform: scale(1.1);
}

.add-product-name,
.add-product-description,
.add-category-price {
  margin-bottom: 15px;
}

.add-product-name p,
.add-product-description p,
.add-category-price p {
  margin: 0;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"],
textarea,
select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-color: #49557e;
}

textarea {
  resize: vertical;
}

.add-category-price {
  display: flex;
  justify-content: space-between;
}

.add-category-price .add-category,
.add-category-price .add-price {
  flex: 1;
  margin-right: 10px;
}

.add-category-price .add-price {
  margin-right: 0;
}

.add-btn {
  padding: 10px 20px;
  background: #49557e;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-btn:hover {
  background: #49557e;
}

@media (max-width: 750px) {
  .add {
    padding: 15px;
  }

  .add-img-upload img {
    width: 80px;
    height: 80px;
  }

  .add-container {
    width: 100%; 
  }

  .add-category-price {
    flex-direction: column; 
  }

  .add-category-price .add-category,
  .add-category-price .add-price {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .add-btn {
    font-size: 14px; 
    padding: 8px 16px;
  }
}