.footer {
  color: #49557e;
  background-color: #a1857e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 4vw;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-column h3 {
  color: white;
  font-size: 14px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer-column ul li.time {
  cursor: default;
}

.footer-logo {
  width: 100px;
}

.footer-text {
  width: 100%;
}

.footer-text p {
  margin: 0;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

.footer-social-icons {
  display: flex;
}

.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
}

.footer-newsletter {
  display: none;
}

.footer-copyright {
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}

.highlight {
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .footer-content {
      flex-direction: column;
      gap: 20px;
  }
  .footer-column {
      width: 100%;
  }
  .footer-copyright {
      font-size: 8px;
  }
}
