/* Основные стили */
.more-restaurants {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

.page-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurant-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 300px; 
}

.restaurant-card img {
  width: 200px;
  height: 100%; 
  object-fit: cover; 
}

.restaurant-info {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.restaurant-address,
.restaurant-hours,
.restaurant-contact {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.restaurant-description {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

/* Кнопка открытия модального окна */
.open-modal-button {
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  font-size: 18px;
  color: #7B61FF;
  background-color: #F6F4FF;
  border: 2px solid #7B61FF;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.open-modal-button:hover {
  background-color: #dcdafe;
  transform: scale(1.05);
}

/* Стили для модального окна */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 90%;
  max-width: 500px;
  animation: slideDown 0.5s ease;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-close:hover {
  color: #7b61ff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* Стили формы бронирования */
.booking-form {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; 
  margin-left: auto;
  margin-right: auto; 
  transition: transform 0.3s ease-in-out;
}

/* Анимация для формы */
.booking-form-appear {
  animation: formAppear 0.5s ease-out;
}

@keyframes formAppear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.booking-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.booking-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-form label {
  font-size: 16px;
  color: #333;
}

.booking-form input {
  height: 30px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.booking-form .btn {
  width: 100%;
  height: 35px;
  background-color: #f6f4ff;
  border: none;
  border-radius: 4px;
  color: #7b61ff;
  font-size: 14px;
  cursor: pointer;
  transition: 600ms ease;
  text-align: center;
}

.booking-form .btn:hover {
  background-color: #dcdafe;
}

@media (max-width: 750px) {
  .more-restaurants {
    padding: 10px;
  }

  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .restaurant-details {
    flex-direction: column;
    gap: 10px;
  }

  .restaurant-card {
    flex-direction: column;
    height: auto;
  }

  .restaurant-card img {
    width: 100%;
    height: auto;
  }

  .restaurant-info {
    padding: 10px;
  }

  .restaurant-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .restaurant-address,
  .restaurant-hours,
  .restaurant-contact,
  .restaurant-description {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .booking-form {
    padding: 15px;
    border: none;
    box-shadow: none;
    width: 100%;
    max-width: none;
  }

  .booking-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .booking-form label {
    font-size: 14px;
  }

  .booking-form input {
    padding: 8px;
    font-size: 14px;
  }

  .booking-form .btn {
    height: 35px;
    font-size: 14px;
  }
}
